@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  margin: 0;
  background: linear-gradient(164deg, #b4f6ff 0%, #ca58ff 57.93%, #5253ff 100%);
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.header {
  height: 110px;
  background-color: #ff3dfe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  font-family: 'Amatic SC', sans-serif;
  font-size: 77px;
  color: #121723;
}
.container {
  margin: auto;
  max-width: 1140px;
  width: 100%;
}
.card__container {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin: 32px 0;
  min-height: 70vh;
}
.card {
  width: 364px;
  display: flex;
  flex-direction: column;
}
.card__content {
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  background-color: #ffffff;
}
.card__title {
  color: #121723;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer {
  height: 142px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  font-family: 'Amatic SC', sans-serif;
  font-size: 77px;
  color: #fff;
}

.meme-container {
  display: flex;
  width: 100%;
  max-width: 1140px;
  padding: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: auto;
}
.meme-container__image {
  width: 100%;
}
.meme-container__title {
  color: #121723;
  font-family: 'Press Start 2P';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 40px */
  text-align: left;
  width: 100%;
}
.meme-container__subtitle {
  color: #121723;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: 100%; /* 32px */
  text-align: left;
  width: 100%;
}
